# Google Sheets Configuration
# Get your SHEETS_SPREADSHEET_ID from your Google Sheets URL:
# https://docs.google.com/spreadsheets/d/{SHEETS_SPREADSHEET_ID}/edit
SHEETS_SPREADSHEET_ID=your_spreadsheet_id_here

# Sheet name to write to (default: Sheet1)
SHEETS_SHEET_NAME=Sheet1
